@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="jumbotron">
            <div class="text-center">
                <h4>Please provide your city:</h4>
                @(Html.Kendo().AutoComplete()
          .Name("CityAutoComplete") //The name of the AutoComplete is mandatory. It specifies the "id" attribute of the widget.
          .DataTextField("CityName") //Specify which property of the Product to be used by the AutoComplete.
          .BindTo((IEnumerable<IIW.Models.ProjectModels.Cities>)TempData["Cities"])   //Pass the list of Products to the AutoComplete.
          .Filter("contains") //Define the type of the filter, which AutoComplete will use.
                )
                <span class="btn" id="btnSearch"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
<div id="divResult" style="display:none">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>EXPLORE PLACES</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4"><img src="@ViewBag.Urls[2]" class="img-responsive" style="width:100%"></div>
                <div class="col-md-8">@(Html.Raw(TempData["AttractionDesc1"]))</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4"><img src="@ViewBag.Urls[3]" class="img-responsive" style="width:100%"></div>
                <div class="col-md-8">@(Html.Raw(TempData["AttractionDesc2"]))</div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3>EXPLORE EVENTS</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4"><img src="@ViewBag.Urls[0]" class="img-responsive" style="width:100%"></div>
                <div class="col-md-8">@(Html.Raw(TempData["EventDesc1"]))</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4"><img src="@ViewBag.Urls[1]" class="img-responsive" style="width:100%"></div>
                <div class="col-md-8">@(Html.Raw(TempData["EventDesc2"]))</div>
            </div>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3>EXPLORE MOVIES</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4"><img src="@ViewBag.Urls[4]" class="img-responsive" style="width:100%"></div>
                <div class="col-md-8">@(Html.Raw(TempData["MovieDesc1"]))</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4"><img src="@ViewBag.Urls[5]" class="img-responsive" style="width:100%"></div>
                <div class="col-md-8">@(Html.Raw(TempData["MovieDesc2"]))</div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>EXPLORE FOOD</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4"><img src="@ViewBag.Urls[6]" class="img-responsive" style="width:100%"></div>
                <div class="col-md-8">@(Html.Raw(TempData["RestaurantDesc1"]))</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4"><img src="@ViewBag.Urls[7]" class="img-responsive" style="width:100%"></div>
                <div class="col-md-8">@(Html.Raw(TempData["RestaurantDesc2"]))</div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            //var city = @Html.Raw(TempData["CurrentCity"]);
            //$('#CityAutoComplete').attr('value', city);
            $('#CityAutoComplete').attr('value', 'Los Angeles');
        });

        $('#btnSearch').click(function () {
            $('#divResult').hide();
            $('#divResult').fadeIn(3000);
            var city = $('#CityAutoComplete').val();
            $.ajax({
                type: 'POST',
                url: 'Home/GetActivities',
                contentType: 'application/json; charset=utf-8',
                data: { City: city, locale: 'en-US' },
                dataType: 'json',
                success: AjaxSucceeded,
                error: AjaxFailed
            });
        });
    </script>
